<!--
  Displays the custom URL, result, status code
-->
<div class="container">
    <br/>
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            
            <p class="card-text url">url: <a href="{{url}}">{{ url }}</a></p>
            <p class="card-text result"> result : {{ result }}
             <br/>
           <span class="status"> status: {{ status }} </span>

           </p>
          </div>
        </div>
        <br/>
      </div> 
    </div>
</div>