<div class="form-group background">
  <form #urlShortForm="ngForm">
    <div class="form-group">
      <input
       [(ngModel)]="url_original"
       name="url_original"
       type="text"
       class="form-control url ng-valid ng-pristine ng-untouched"
       placeholder="Enter the URL"
       required
       #original='ngModel'
       id='urlOriginal'/>
       <div
       [hidden]="original.valid || original.pristine"
       class="alert alert-danger originalUrlAlert">
       URL is required. Should start with http:// or https://
      </div>
    </div>
    <div class="form-group">
      <input
       [(ngModel)]="url_vanity"
       name="url_vanity"
       class="form-control url"
       placeholder="Enter the Custom URL Name" 
       pattern ="^[a-zA-Z0-9]+" 
       #vanity='ngModel'
       minlength="5"
       id='urlVanity'/>
      <span *ngIf="!vanity.valid"
       class="alert alert-danger">
       Enter character between A-Z/a-z/0-9 and minimum length 5
      </span>
    </div>
    <button
      type="submit" 
      class="btn btn-success search-btn"
      (click)="onSubmit()"
      [disabled]="!urlShortForm.form.valid">
      Short Now!
    </button>
  </form>
</div>

  